/*General settings*/

//Import Google fonts Roboto and Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

body {
    font-family: $main-font;
}

a {
    color: black;
    text-decoration: none;
}

ul,
h1,
h2,
h3,
p {
    margin: 0px;
}

.main-container {
    min-width: 350px;
    max-width: 1400px;
    margin: auto;

    @include for-device(tablet) {
        padding: 0px 50px;
    }

    @include for-device(desktop) {
        padding: 0px 25px;
    }
}