//Colors

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$box-shadow-color: rgba(0, 0, 0, 0.2);

$location-bg-color: #EAEAEA;
$section-bg-color: #F7F7F7;
$footer-bg-color: #353535;

//Fonts

$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', sans-serif;

//Breakpoints

$breakpoints: (
    tablet: 768.1px,
    desktop: 992.1px
);