/*Header*/

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px 10px;

    &__home {
        grid-column: 1 / 2;
        align-self: center;
        font-size: 1.2rem;

        >a {
            display: inline-block;
            padding: 6px 25px;

            >span {
                display: none;

                @include for-device(desktop) {
                    display: inline;

                    >i {
                        margin-right: 12px;
                    }
                }
            }

            @include for-device(desktop) {
                border-bottom: 4px solid transparent;

                &:hover {
                    border-color: $tertiary-color;
                }

                >.fa-arrow-left {
                    display: none;
                }
            }

        }
    }

    &__logo {
        grid-column: 2 / 3;
        place-self: center;

        >img {
            width: auto;
            height: 1.9rem;
        }
    }
}