/*Intro section*/

.intro {
    &__location {
        display: flex;
        gap: 20px;
        justify-content: center;
        background-color: $location-bg-color;
        padding: 15px 0px;
        box-shadow: 0px 2px 4px $box-shadow-color inset;

        @include for-device(tablet) {
            border-radius: 25px 25px 0px 0px;
        }

        input {
            background-color: inherit;
            border: none;
            @include font-set(1rem, 500);
        }
    }

    &__cta {
        text-align: center;
        background-color: $section-bg-color;
        padding: 40px 35px 55px;

        @include for-device(tablet) {
            border-radius: 0px 0px 25px 25px;
        }

        h1 {
            margin-bottom: 15px;
            font-size: 1.6rem;
        }

        p {
            margin-bottom: 30px;
            @include font-set(1.1rem, 300);
        }

        a {
            padding: 17px 20px;
        }
    }
}