/*Restaurant main section*/

.restau {
    display: grid;
    grid-template-rows: auto 40px auto;
    grid-template-columns: 100%;

    &__img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        height: 260px;

        @include for-device(tablet) {
            height: 380px;
        }

        @include for-device(desktop) {
            height: 500px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__menu {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        z-index: 1;
        padding: 40px 15px;
        background-color: $section-bg-color;
        border-radius: 40px 40px 0px 0px;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include for-device(tablet) {
                max-width: 600px;
                margin: auto;
            }

            @include for-device(desktop) {
                max-width: 400px;
            }

            >h1 {
                font-family: $title-font;
                @include font-set (1.76rem);
            }

            >i {
                margin-right: 20px;
            }
        }

        &__parts {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            @include for-device(desktop) {
                flex-direction: row;
                gap: 2%;
            }
        }

        &__cta {
            text-align: center;

            >button {
                padding: 15px 45px;
            }
        }
    }
}

.meals {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @include for-device(tablet) {
        align-items: center;
    }

    @include for-device(desktop) {
        width: 32%;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 7px;
        text-transform: uppercase;
        @include font-set(1rem);
        position: relative;

        &::after {
            content: "";
            width: 40px;
            position: absolute;
            left: 0px;
            bottom: -7px;
            border-bottom: 3px solid $tertiary-color;

            @include for-device(tablet) {
                width: 100%;
            }
        }
    }

    &__card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 2px 8px $box-shadow-color;
        display: flex;
        width: 100%;

        @include for-device(tablet) {
            max-width: 600px;
        }

        //Cards loading animation

        @for $i from 1 through 4 {
            &--#{$i} {
                animation: meals-loading-kf 400ms cubic-bezier(0, .28, 1, 1) (200ms * $i) both;
            }
        }

        @keyframes meals-loading-kf {
            0% {
                opacity: 0;
                transform: translateY(20%);
            }

            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        &__main {
            padding: 13px 0px 12px 11px;
            display: flex;
            width: 100%;
            transition: width 400ms ease-out;

            &:hover {
                width: 80%;
            }

            &:hover+.meals__card__check {
                width: 20%;

                >i {
                    transform: rotate(360deg);
                    transition: transform 400ms ease-out;
                }
            }

            @include for-device(desktop) {
                flex-direction: column;
            }

        }

        &__check {
            width: 0%;
            padding: 23.5px 0px;
            background-color: $tertiary-color;
            border-radius: 0px 15px 15px 0px;
            text-align: center;
            overflow: hidden;
            transition: width 400ms ease-out;

            @include for-device(desktop) {
                padding: 32px 0px;
            }

            i {
                padding: 2px;
                border-radius: 50%;
                background-color: white;
                color: $tertiary-color;
            }
        }
    }
}

%text-crush {
    overflow: hidden;
    text-overflow: ellipsis;
}

.meal-name {
    white-space: nowrap;
    width: 80%;

    h3 {
        @extend %text-crush;
        font-size: 1.15rem;
        margin-bottom: 5px;
    }

    p {
        @extend %text-crush;
        font-size: 0.9rem;
    }

    @include for-device(desktop) {
        width: 100%;
    }
}

.meal-price {
    width: 20%;
    align-self: flex-end;
    text-align: end;
    padding-right: 25px;
    @include font-set (0.95rem, 700);
}